@media (min-width: 630px) and (min-height: 630px) {
  .sampling-settings-popup.popup:not(.popup-tablet-fullscreen) {
    width: 400px;
    height: 300px;

    left: calc(50% - 200px);
    top: calc(50% - 150px);
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 25px;
  }
}

.sampling-settings {
  .sampling-settings-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    .navbar-inner {
      color: #0086ff;
      display: flex;
      line-height: 100px;
      font-size: larger;
    }
  }

  .sampling-settings-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      color: #0086ff;
    }

    .items {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 20px 0 20px;
      margin-top: 20px;
      gap: 10px;

      .item {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .input-sampling-time,
        .select-frequency-button {
          padding: 0px;
          width: 60%;
          height: 45px;
          color: #000000;
          background-color: rgba(0, 134, 255, 0.3);
          border: 1px solid #000000;
          border-radius: 10px;
          text-align: center;
          cursor: pointer;
          text-transform: none;
        }

        .text {
          width: 60%;
          color: #0086ff;
          font-size: 18px;
          font-weight: 500;
          align-self: center;
        }
      }
    }

    .sampling-settings-buttons {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 30px;
      gap: 20px;

      .ok-button {
        background: #09a8fa;
        color: white;
        width: fit-content;
        border-radius: 9999px;
        min-width: 100px;

        &.delete-mode {
          background: #ff3b30;
        }
      }
      .ok-button:hover {
        background-color: #09a8fa !important;
      }

      .cancel-button {
        background: #b2b2b2;
        color: white;
        width: fit-content;
        border-radius: 9999px;
        min-width: 100px;
        float: left;
      }
      .cancel-button:hover {
        background-color: #b2b2b2 !important;
      }
    }
  }
}

.popover-frequency-advanced {
  width: 160px;
  border-radius: 10px;

  .list-frequency {
    .button-frequency {
      border-radius: 0px;
    }

    .button-frequency.inverse-frequency {
      background-color: antiquewhite;
    }

    .button-frequency:first-child {
      border-radius: 15px 15px 0px 0px;
    }

    .button-frequency:last-child {
      border-radius: 0px 0px 15px 15px;
    }
  }
}

@media only screen and (max-height: 600px) {
  .use-prompt-dialog-popup.popup:not(.popup-tablet-fullscreen) {
    width: 400px;
    height: 300px;

    left: calc(50% - 200px);
    top: calc(50% - 150px);
    border-radius: 25px;
  }

  .use-prompt-header {
    .navbar-inner {
      line-height: 40px;
      .title {
        font-size: 20px;
      }
    }
  }

  .sampling-settings-content {
    .items {
      margin-top: 0px !important;
      gap: 5px !important;

      .item {
        height: 100%;
        .text {
          width: 100px;
          color: #0086ff;
          font-size: 16px;
          font-weight: 500;
          align-self: center;
        }

        .input-sampling-time,
        .select-frequency-button {
          height: 40px !important;
        }
      }
    }
  }
}
