@media (min-width: 630px) and (min-height: 630px) {
  .sampling-settings-popup.popup:not(.popup-tablet-fullscreen) {
    width: 800px;
    height: 600px;
    left: calc(50% - 400px);
    top: calc(50% - 300px);
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 25px;
  }
}

.sampling-settings {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;

  .sampling-settings-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 30px;
    gap: 20px;

    .ok-button {
      background: #09a8fa;
      color: white;
      width: fit-content;
      border-radius: 9999px;
      min-width: 100px;

      &.delete-mode {
        background: #ff3b30;
      }
    }
    .ok-button:hover {
      background-color: #09a8fa !important;
    }

    .cancel-button {
      background: #b2b2b2;
      color: white;
      width: fit-content;
      border-radius: 9999px;
      min-width: 100px;
      float: left;
    }
    .cancel-button:hover {
      background-color: #b2b2b2 !important;
    }
  }

  .__header {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-inner {
      color: #0086ff;
      display: flex;
      line-height: 100px;
      font-size: larger;
    }
  }

  .__content {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .__navbar {
      height: 90%;
      width: 30%;
      margin: 30px 10px 0 30px;

      display: flex;
      gap: 15px;
      flex-direction: column;

      --primary-color: #0086ff;
      --secondary-color: #d9d9d9;

      .nav-button {
        text-transform: none;
        font-weight: 600;
        font-size: 16px;
        display: flex;
        justify-content: flex-start;
      }

      .nav-button.active {
        background: var(--primary-color);
        color: #ffffff;
      }

      .nav-button.inactive {
        background: var(--secondary-color);
        color: #000000;
      }
    }

    .__setting-content {
      width: 100%;
      // border: #0086ff 1px solid;
      // border-radius: 15px;
      // margin-top: 30px;
      margin-bottom: 10px;
      padding: 0px 10px 10px 10px;
      // background: #ffffff;

      display: flex;
      flex-direction: column;

      .list {
        list-style: none;
        ul::before {
          content: none;
        }
        ul::after {
          content: none;
        }
      }

      .__setting {
        margin-top: 10px;
        margin-bottom: 10px;

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          padding: 8px 16px;
        }

        .sub-item-list {
          display: flex;
          flex-direction: column;
        }

        .item-first {
          width: 35%;
        }
        .item-second {
          width: 65%;
          margin-left: 8px;
        }

        .sub-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 8px 16px;
        }
        .display-setting-input {
          .item-title.item-label {
            margin-right: 0px;
            width: 35%;
            display: flex;
            align-items: center;

            font-family: var(--f7-font-family);
            // font-weight: 500;
            font-size: 16px;
          }

          .item-input-wrap {
            width: 65%;
            border-radius: 10px;

            .button {
              display: flex;
              justify-content: space-between;
              border: none !important;
              text-transform: none;
              // font-weight: 500;
              font-size: 20px;
              color: #0086ff;

              span {
                font-size: 16px;
                color: #0086ff;
              }
              i {
                justify-content: flex-end;
                color: #0086ff;
              }
            }

            .input-with-value {
              color: #0086ff;
              font-size: 16px;
              font-family: var(--f7-font-family);
              // font-weight: 500;
              font-size: 16px;
            }

            .popover-choose-sensor-unit {
              width: 260px;
            }
          }
        }
      }

      .__calibrating {
        margin-top: 10px;
        margin-bottom: 10px;

        .list {
          ul::before {
            content: none;
          }
          ul::after {
            content: none;
          }
        }

        .__label-calibrating-type {
          font-weight: 600;
          font-size: 20px;
          padding-left: 15px;
        }
        .display-setting-input {
          .item-title.item-label {
            margin-right: 0px;
            width: 40%;
            display: flex;
            align-items: center;

            font-family: var(--f7-font-family);
            font-size: 16px;
          }

          .item-input-wrap {
            width: 60%;
            border-radius: 10px;

            .button {
              display: flex;
              justify-content: space-between;
              border: none !important;
              text-transform: none;
              // font-weight: 500;
              font-size: 20px;
              color: #0086ff;

              span {
                font-size: 16px;
                color: #0086ff;
              }
              i {
                justify-content: flex-end;
                color: #0086ff;
              }
            }

            .input-with-value {
              color: #0086ff;
              font-size: 16px;
              font-family: var(--f7-font-family);
              // font-weight: 500;
              font-size: 16px;
            }

            .popover-choose-sensor-unit {
              width: 260px;
            }
          }
        }

        .display-setting-input-button {
          .item-title.item-label {
            margin-right: 0px;
            width: 40%;
            display: flex;
            align-items: center;

            font-family: var(--f7-font-family);
            font-size: 16px;
          }

          .item-input-wrap {
            width: 40%;
            height: 40px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-radius: 10px;

            input {
              color: #0086ff;
              font-size: 16px;
              font-family: var(--f7-font-family);
              font-size: 16px;
              width: 100%;
              border: none;
            }
          }

          .sampling-button {
            width: 25%;
            text-transform: none;
            margin-left: 5px;

            background: #09a8fa;
            color: white;
            width: fit-content;
            border-radius: 9999px;
          }
        }
      }

      .__remote-logging {
        .download-log-wrap {
          justify-content: flex-start;
          .button {
            margin-left: 8px;
          }

          .button:hover {
            background: #09a8fa;
          }
        }

        .smart-select {
          .item-after {
            color: var(--f7-text-color);
            font-size: var(--f7-list-font-size);
          }
        }
      }

      .__other-settings {
        margin-top: 10px;
        margin-bottom: 10px;
        .button:hover {
          background: #09a8fa;
        }
      }

      .buttons {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .save-button {
          background: #09a8fa;
          color: white;
          width: fit-content;
          border-radius: 9999px;
          min-width: 100px;
        }
        .save-button:hover {
          background: #09a8fa;
        }
      }
    }
  }
}
