.wireless-sensor-info {
  border-radius: 10px;
  background: white;
  width: 100%;
  height: 22%;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-height: 600px) {
  .wireless-sensor-info {
    height: 32%;
  }
}

@media only screen and (max-height: 400px) {
  .wireless-sensor-info {
    height: 42%;
  }
}
