.line-chart-wapper {
  background-color: #ffffff;
  border-radius: 5px;
  width: 100%;
  display: flex;
  .sensor-select-container {
    position: relative;
    width: 50px;
    .custom-select {
      //position: relative;
      display: block;
      top: 100%;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
    }
  }
  .canvas-container {
    width: 100%;
  }
}
