.number-widget {
  .__value {
    font-size: 8rem;
    color: #0086ff;
  }
  .__unit {
    font-size: 4rem;
    color: #0086ff;
  }
  text-align: center;
  position: relative;
  height: 100%;

  .sensor-select-container {
    position: absolute;
    bottom: 50px;
    display: block;
    top: 94.5%;
    left: 1%;
    .button {
      background-color: #ffbb02;
      color: black;
    }
  }
}
