.number-widget {
  .__value,
  .__unit {
    color: #0086ff;
  }
  position: relative;
  height: 100%;

  .__value {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sensor-select-container {
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translate(-50%, -50%);
    .button {
      background-color: #ffbb02;
      color: black;
    }
  }
}
