// @media (min-width: 630px) and (min-height: 630px) {
//   .sensor-selector-popup.popup:not(.popup-tablet-fullscreen) {
//     width: 400px;
//     height: 500px;

//     left: calc(50% - 200px);
//     top: calc(50% - 250px);
//     border-radius: 20px;
//   }
// }

// @media only screen and (max-height: 630px) {
//   .sensor-selector-popup.popup:not(.popup-tablet-fullscreen) {
//     width: 600px;
//     height: 400px;

//     left: calc(50% - 300px);
//     top: calc(50% - 200px);
//     border-radius: 15px;
//   }
// }

.sensor-selector-popup {
  @media only screen and (max-height: 630px) {
    width: 400px;
    height: 360px;
    left: calc(50% - 200px);
    top: calc(50% - 180px);
    border-radius: 15px;
  }
}

.sensor-selector {
  .button {
    text-transform: none;
    font-size: 13px;
    background-color: #ffbb02;
    display: inline-block; /* Ensures the button takes the width of its content */
    white-space: nowrap; /* Prevents text wrapping */
    color: var(--f7-theme-color-text-color) !important;
    border-radius: 5px;
    @media only screen and (max-width: 1440px) {
      font-size: 11px;
    }
  }
}

.sensor-select-title {
  .navbar-inner {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #000;

    width: calc(100% - 40px);
    margin-left: 20px;
    margin-right: 20px;

    color: #007ff5;
    font-weight: 500;
  }

  .left,
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    .button {
      width: 100%;
      line-height: 100px;
      font-size: 24px;
      font-weight: 500;
      text-transform: none;
      font-family: var(--f7-font-family);
      color: #666666;
    }

    /* Target screens with a maximum height of 800px */
    @media (max-height: 800px) {
      .button {
        font-size: 20px;
        line-height: 90px;
        max-height: 90px;
      }
    }

    /* Target screens with a maximum height of 600px */
    @media (max-height: 600px) {
      .button {
        font-size: 16px;
        line-height: 80px;
        max-height: 80px;
      }
    }

    /* Target screens with a maximum height of 480px */
    @media (max-height: 480px) {
      .button {
        font-size: 14px;
        line-height: 70px;
        max-height: 70px;
      }
    }

    /* Target screens with a maximum height of 360px */
    @media (max-height: 360px) {
      .button {
        font-size: 12px;
        line-height: 60px;
        max-height: 60px;
      }
    }
  }

  // .selected .button {
  //   color: #007ff5 !important;
  // }
}

.sensor-select-device {
  font-weight: bold;
  &.__activeDevice {
    background: #add3fa;
  }

  &.__default {
    background: #d1d1d1;
  }
}

.sensor-select-user-unit,
.sensor-select-measurement {
  margin-left: 2rem;
  &.__activeDevice {
    color: blue;
    .item-title {
      font-weight: bold;
    }
  }
  &.__default {
    color: #d1d1d1;
  }
}

.sensor-select-user-unit {
  margin-left: 0rem;
}
