@media (min-width: 630px) and (min-height: 630px) {
  .new-page-popup.popup:not(.popup-tablet-fullscreen) {
    width: 600px;
    height: 600px;

    left: calc(50% - 300px);
    top: calc(50% - 300px);

    margin-top: 0px;
    margin-left: 0px;
  }
}

@media only screen and (max-height: 800px) {
  .new-page-popup.popup:not(.popup-tablet-fullscreen) {
    width: 460px;
    height: 340px;

    left: calc(50% - 230px);
    top: calc(50% - 170px);

    .bg-color-regal-blue .page-content .block .row {
      padding-bottom: 5px !important;
      .col img {
        height: 80px !important;
      }
    }
  }

  .popup {
    background-color: transparent;
  }
}

.new-page-popup {
  width: 600px;
  height: 600px;
  left: calc(50% - 300px);
  top: calc(50% - 300px);
}

.new-page-popup.popup {
  border-radius: 20px;
}
