.popover-page-management {
  width: 300px;
  background: white;
  max-height: 300px;

  .rename-page-button {
    cursor: pointer;
  }

  .page-name.selected {
    background: rgb(232, 228, 228);
  }
}
