/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */

/* Main */
.responsive {
  width: 100%;
  height: auto;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.bg-color-regal-blue {
  --f7-theme-color-bg-color: #023a68;
  .navbar {
    .left i,
    .title {
      color: #ffffff;
    }
  }
}

.navbar-bg {
  opacity: 0;
}

.activity-actions .swiper-slide {
  width: 135px;
  height: 192px;
}

.activity-list {
  h2 {
    margin-left: 50px;
  }
  .link {
    width: 70%;
  }
  .activity {
    border: 1px solid #ffffff;
    border-radius: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
  }
  .swiper-slide {
    text-align: center;
  }
}

.swiper-button-next,
.swiper-button-prev {
  color: #ffffff;
}

.navbar-inner > a.button {
  right: 15px;
  text-overflow: unset;
  .icon {
    font-size: 40px;
  }
}

.panel {
  width: 100%;
  z-index: 9999;
}

.navbar .left {
  .icon-back:after {
    font-size: 32px;
  }
}

.back-icon,
.back-icon i,
.popup-close i,
.panel-close i {
  font-size: 32px;
  color: gray;
}

.white-color {
  i {
    color: #ffffff;
  }
}

.button--round {
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: #ffffff;
  border-radius: 22px;
  box-shadow: var(--f7-elevation-2) !important;
  color: #91a7b5 !important;
  margin: 0 5px;
  padding: 0;
  i {
    font-size: 32px;
  }
  &.-icon-white i {
    color: #ffffff;
  }
}

.delete {
  color: red;
  i {
    color: red;
  }
}

/* Landing */
#landing {
  background-color: #eff1f4;
}
.device {
  width: 33.33%;
  img {
    width: 50%;
  }
  text-align: center;
  margin: 0 0 15px;
  display: inline-block;
  figcaption {
    color: gray;
    font-size: 16px;
  }
}

/* Side Left Menu */
.main-menu-content {
  .navbar {
    background: #ffffff;
    --f7-cols-per-row: 3;
    width: calc((100% - var(--f7-grid-gap) * (var(--f7-cols-per-row) - 1)) / var(--f7-cols-per-row));
  }
  .page-current {
    background-color: #eff1f4;
  }
  .page-content {
    .block {
      // margin: 0;
      padding: 0;
      //height: 100%;
      .row {
        height: 100%;
        .main-menu-left {
          background: #ffffff;
          height: 100%;
          color: gray;
          .item-radio {
            .icon-radio {
              display: none;
            }
          }
          .item-title {
            font-size: 21px;
          }

          .m-menu-active {
            color: #40abdf;
          }

          .item-inner {
            padding-right: 0;
          }

          .item-inner::before {
            display: none;
          }
        }
        .main-menu-right {
          height: 100%;
          overflow-y: auto;
        }
      }
    }
  }
  .page-content > .block {
    margin: 0;
    height: 100%;
  }
  .menu-icon {
    width: 36px;
    height: 36px;
  }
}

/* Setup device */
.scan-device {
  overflow-y: auto;
  background-color: #abe1ef;
  .block {
    margin-top: 0;
  }
  .button {
    padding: 0 15px 0 10px;
    margin-left: 10px;
    span {
      color: #007ff5;
      text-transform: none;
      font-size: 16px;
    }
  }

  .guide {
    p {
      font-size: 16px;
      color: #ffffff;
      font-weight: 500;
      span {
        padding: 0.05rem 0.2rem;
        border-radius: 0.2rem;
        white-space: nowrap;
        color: #007ff5;
        background-color: #ffffff;
      }
    }
  }
}

.device-connected {
  background-color: #007ff5 !important;
  i {
    color: #ffffff !important;
  }
}

.sensor-select-device {
  font-weight: bold;
  &.__activeDevice {
    background: #add3fa;
  }

  &.__default {
    background: #d1d1d1;
  }
}

.sensor-select-measurement {
  margin-left: 2rem;
  &.__activeDevice {
    color: blue;
    .item-title {
      font-weight: bold;
    }
  }
  &.__default {
    color: #d1d1d1;
  }
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.zero-padding {
  padding: 0;
}

.sensor-select-title {
  color: #007ff5;
  .title {
    line-height: 100px;
  }
}

/* about menu */
.about-menu {
  margin: 0;
  height: 100%;

  // align text
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    div {
      text-align: center;
    }

    .project {
      font-size: 4vw;
      height: 16vh;
      max-height: 60px;
    }
    .copyright {
      font-size: 3vw;
      height: 16vh;
      max-height: 60px;
    }
    .contact {
      font-size: 2vw;

      span {
        margin-right: 20px;
      }
    }

    @media only screen and (min-width: 1024px) {
      .project {
        font-size: 2.3rem;
      }
      .copyright {
        font-size: 1.7rem;
      }
      .contact {
        font-size: 1.2rem;
      }
    }
  }
}

.custom-select {
  background-color: #ffbb02;
  border-radius: 5px;
  -webkit-appearance: none;
  appearance: none;
  font-size: 20px;
  height: 40px;
  padding: 5px 5px;
  position: absolute;
  top: 800px;
}

.custom-select option {
  background-color: #ffffff;
}

.custom-select optgroup {
  background-color: #ffffff;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

// ATOMIC
.cursor-pointer {
  cursor: pointer;
}

.text-uppercase {
  text-transform: uppercase;
}

.form-button {
  padding: 20px;
}

.display-setting-input {
  .item-title.item-label {
    margin-right: 300px;
  }
  // .item-input-wrap {
  // }
}

.label-color-black {
  .item-title.item-label {
    color: black;
  }
}

.display-setting-popup.popup.modal-in {
    border-radius: 15px;
}


.input-stack-position {
  .item-input-wrap {
    margin-top:40px;
    left: -217px;
    textarea {
      width: 600px;
      height: 150px;
    }
    select {
      width: 600px;
    }
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  .ok-button {
    background: #09a8fa;
    color: white;
    width: fit-content;
    border-radius: 9999px;
    min-width: 100px;
    margin-right: 15px;

    &.delete-mode {
      background: #ff3b30;
    }
  }
  .cancel-button {
    background: #b2b2b2;
    color: white;
    width: fit-content;
    border-radius: 9999px;
    min-width: 100px;
    float: left;
    margin-right: 15px;
  }
}