.activity-name {
  border: 1px solid #a9becb !important;
  margin-right: 10px !important;
  border-radius: 20px !important;
  height: 40px;
  padding: 5px;
  font-size: 14px;
  background-color: #ffffff !important;
  text-align: center;
}
