.activity {
  .page-content {
    overflow: hidden;
  }
  .navbar-inner {
    justify-content: space-between;
  }
}

.activity-name {
  border: 1px solid #a9becb !important;
  border-radius: 20px !important;
  height: 40px;
  padding: 5px;
  font-size: 14px;
  background-color: #ffffff !important;
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 40%;
}

.activity-layout {
  width: 98%;
  height: calc(100% - 80px - 60px);
  margin: auto;
  display: flex;
  gap: 1%;

  .__card-sensors {
    width: 15%;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    gap: 4%;

    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 1px;
  }

  .__card-sensors::-webkit-scrollbar {
    display: none;
  }

  .__card-widget {
    border-radius: 15px;
    width: 85%;
    background-color: #ffffff;
  }

  .__card-left {
    width: 27%;
    .sensor-select-container-table-chart {
      width: 47%;
    }
  }
  .__card-right {
    width: 57%;
    .sensor-select-vertical-mount-container {
      left: 37%;
    }
  }
}

.activity-sensors {
  background-color: #000000;
}

.activity-footer {
  height: 60px;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  .__toolbar-right {
    .timer {
      float: left;
      width: 130px;
      height: 44px;
      background: #ffffff;
      border-radius: 32px;
      font-size: 24px;
      line-height: 44px;
      padding-left: 15px;
    }

    .sample {
      float: right;
    }
  }

  .__toolbar-left {
    .frequency {
      float: left;
      display: flex;
      width: 250px;
      height: 44px;
      // line-height: 44px;

      .image {
        display: flex;
        background: #0086ff;
        width: 50px;
        height: 44px;
        align-items: center;
        justify-content: center;
        border-radius: 10px 0 0 10px;

        img {
          width: 34px;
          height: 34px;
        }
      }

      /* Added CSS for disabled state */
      &:disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;

        .image {
          cursor: not-allowed;
          color: #3398f0;
        }
      }
      .button {
        text-transform: none;
      }
    }
  }
}

.activity-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  .prev,
  .next {
    cursor: pointer;
    color: #000000;
  }

  .order {
    color: #ffffff;
    font-size: 24px;
    padding: 0 10px 0 10px;
  }

  /* Added CSS for disabled state */
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed;

    .prev,
    .next {
      cursor: not-allowed;
      color: #cccccc;
    }
  }
}

.new-page-popup {
  width: 500px;
  height: 340px;
  left: calc(50% - 250px);
  top: calc(50% - 170px);
  border-radius: 20px;
}

.data-run-management-popup {
  // display: block;
  width: 640px;
  height: 500px;
  left: calc(50% - 320px);
  top: calc(50% - 250px);
}
.data-run-management-popup.popup {
  border-radius: 40px;
}

// Mobile device
@media only screen and (max-height: 400px) {
  .new-page-popup {
    .responsive {
      height: 100px;
    }
  }

  .data-run-management-popup {
    width: 340px;
    height: 260px;
    left: calc(50% - 170px);
    top: calc(50% - 130px);
  }
}

// Mobile device
@media only screen and (max-height: 600px) {
  .new-page-popup {
    .responsive {
      height: 120px;
    }
  }

  .data-run-management-popup {
    width: 340px;
    height: 260px;
    left: calc(50% - 170px);
    top: calc(50% - 130px);
  }

  .navbar-inner {
    height: 32px;
    a {
      width: 30px;
      height: 30px;
      i {
        font-size: 18px;
      }
    }
  }

  .activity-name {
    height: 30px;
    font-size: 12px;
  }

  .activity-layout {
    width: 98%;
    height: calc(100% - 80px - 36px);
    gap: 1%;
    margin: 1%;

    .__card-sensors {
      width: 10%;
    }
    .__card-left {
      width: 38%;
    }
    .__card-right {
      width: 52%;
    }
  }

  .activity-footer {
    height: 36px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;

    .__toolbar-left {
      .frequency {
        width: 200px;
        height: 32px;

        .image {
          width: 36px;
          height: 32px;

          img {
            width: 28px;
            height: 28px;
          }
        }

        .button {
          height: 32px !important;
        }
      }
    }
    .__toolbar-right {
      .timer {
        width: 100px;
        height: 32px;
        font-size: 16px;
        line-height: 32px;
        padding-left: 15px;
      }

      a {
        height: 32px;
        width: 32px;
      }
    }

    .activity-nav {
      height: 32px;
      img {
        height: 26px;
        width: 26px;
      }
      .order {
        font-size: 20px;
      }
    }
  }
}
