.use-prompt-popup.popup {
  width: 400px;
  height: 250px;

  left: calc(50% + 100px);
  top: calc(50% + 100px);
  border-radius: 25px;
}

.use-prompt-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 25%;

  .navbar-inner {
    color: #0086ff;
    display: flex;
    justify-content: center;
    line-height: 100px;
    font-size: larger;
  }
}

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  color: #0086ff;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px 30px 20px;

  .item {
    height: 50px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .text {
      color: #0086ff;
      font-size: 18px;
      font-weight: 500;
      align-self: center;
    }

    .input {
      &::placeholder {
        color: #cbd1dc;
      }
      &:focus {
        outline: none;
        border-color: #275efe;
      }

      padding: 8px 16px;
      padding-right: 40px;
      font-size: 14px;
      border: 1px solid #cdd9ed;
      background: #fff;
      transition: border 0.3s ease;
      white-space: nowrap;
      display: block;
      position: relative;
      -webkit-box-flex: 1;
      flex: 1 1 auto;
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 10px;
    }
  }
}

.buttons {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  .ok-button {
    background: #09a8fa;
    color: white;
    width: fit-content;
    border-radius: 9999px;
    min-width: 100px;
    margin-right: 15px;

    &.delete-mode {
      background: #ff3b30;
    }
  }

  .cancel-button {
    background: #b2b2b2;
    color: white;
    width: fit-content;
    border-radius: 9999px;
    min-width: 100px;
    float: left;
    margin-right: 15px;
  }
}

@media only screen and (max-height: 600px) {
  .use-prompt-popup.popup {
    width: 300px;
    height: 250px;

    left: calc(50% - 150px);
    top: calc(50% - 100px);
    border-radius: 25px;
  }

  .use-prompt-header {
    .navbar-inner {
      line-height: 400px;
      .title {
        font-size: 20px;
      }
    }
  }

  .items {
    padding: 0 20px 30px 20px;

    .item {
      height: 100%;
      .text {
        width: 100px;
        color: #0086ff;
        font-size: 16px;
        font-weight: 500;
        align-self: center;
      }

      .input {
        &::placeholder {
          color: #cbd1dc;
        }
        &:focus {
          outline: none;
          border-color: #275efe;
        }

        padding: 8px 8px;
        padding-right: 8px;
        font-size: 14px;
        width: 180px;
      }
    }
  }
}
